$SansReg: "Open-Sans-Regular";
$SansSemiBold: "Open-Sans-Semi-Bold";
$SansBold: "Open-Sans-Bold";

// colors
$colorGrey: #646e81;
$borderColor: #8c8c8c;
$greyTextInfo: #868686;
$searchColor: #cacaca;
$darkGrey: #3e3e3e;
$gainsBoro: #dedede;
$btnColor: #5a2a82;
$sheenColor: #23a4ad;
$yellowColor: #fdb71a;
$greenColor: #59b753;
$redColor: #d40000;
$tabsText: #706e6b;
// $commonBlack: #333333;
$headerBlack: #1b1b1b;
$commanWhite: #ffffff;
$lightGrey: #e6eaed;
$sliderGray: #e5e5e8;
$paleWhite: #efeff2;
$paleGrey: #efeff2;
$black: #000000;
$ghostWhite: #f6f6f9;
$gunPowder: #49454f;
$sparklingForst: #d1d4d9;
$errorColor: #c4314b;
$commonBlue: #41a2d0;
$blue: #3f51b5;
$fordGray: #979797;
$backGroundColor: #f0efef;
$onHoverBlack: #444444;
$scrollBg: rgba(170, 170, 170, 0.6);

// font sizes
$fs: 18px;
